* {
    font-family: Raleway;
}

.contact-link {
    color: #660033;
    -webkit-transition: all 200ms ease-in;
    text-decoration: none;
    font-weight: 500;
}

.contact-link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.thin {
    margin-top: 60px;
}

.lead {
    color: #FFF;
}

.btn {
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #616161;
    border: none;
    padding: 10px 20px;
    font-weight: 800;
}

.blue {
    height: 225px;
    background-color: #14aac5;
}

.navbar .container {
    height: 7em;
}

body {
    padding-top: 7em; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 500px;
    background: url('../images/art/hackers_art.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    padding-top: 50px;
    color: #FFFFFF;
    background-color: #2c2c2c;
    width: 100%;
}

:root{
    background-color: #2c2c2c;
}